# this is your pinecone API key you generate at the web-interface
PINECONE_API_KEY=defineme

# any string, tip: use "openssl rand -base64 48"
# or blank for no auth (not recommended)
PINECONEADAPTER_API_KEY=defineme

# default settings, override if needed
# PORT=11434
# EMBED_DIMENSIONS=2048
# EMBED_MODEL=llama-text-embed-v2
